{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Change Password</h3>
            <hr>
            <form action="" method="POST" novalidate class="shadow p-5">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.old_password.label_tag }}
                    <input type="password" name="old_password" id="id_old_password" class="form-control form-control-lg" value="{{ form.old_password.value|default_if_none:'' }}">
                    <small class="text-danger">{{ form.old_password.errors|striptags }}</small>
                </div>

                <div class="mb-3">
                    {{ form.new_password1.label_tag }}
                    <input type="password" name="new_password1" id="id_new_password1" class="form-control form-control-lg" value="{{ form.new_password1.value|default_if_none:'' }}">
                    <small class="text-danger">{{ form.new_password1.errors|striptags }}</small>
                </div>

                <div class="mb-3">
                    {{ form.new_password2.label_tag }}
                    <input type="password" name="new_password2" id="id_new_password2" class="form-control form-control-lg" value="{{ form.new_password2.value|default_if_none:'' }}">
                    <small class="text-danger">{{ form.new_password2.errors|striptags }}</small>
                </div>

                <input type="submit" class="btn btn-primary mt-4" value="Change Password">

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
