{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div class="alert alert-success">
                <h3 class="alert-heading">Well Done</h3>
                <p>An email has been sent with instructions to reset your password. <strong>Please check your email.</strong></p>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
